main {
  font-family: fantasy;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.374);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  .api-section {
    .upcoming-title {
      font-family: fantasy;
      font-size: 70px;
      color: $background;
    }
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    .js-box {
      box-shadow: 0 0 5px 5px rgba(28, 12, 12, 0.63);
      background-color: rgba(0, 0, 0, 0.374);
      border-radius: 20px;
    }
    .thanks-container {
      background-image: url(../assets/login_cover.jpeg);
      background-color: rgba(19, 19, 21, 0.852);
      background-blend-mode: screen;
      background-repeat: no-repeat;
      background-size: cover;
      height: 600px;
      p {
        background: rgba(8, 8, 8, 0.308);
      }
    }
  }
}
