@import "./navbar";
@import "./header";
@import "./main";

$colorSign: rgba(0, 115, 255, 0.9);
* {
  padding: 0px;
  margin: 0px;
}
body {
  background: rgb(184, 182, 182);
  background: radial-gradient(
    circle,
    rgba(184, 182, 182, 0.9934567577030813) 4%,
    rgba(96, 96, 96, 1) 75%
  );
  
  footer {
    .fa-facebook-f:hover {
      color: $colorSign;
    }
    .fa-twitter:hover {
      color: $colorSign;
    }
    .fa-google:hover {
      color: rgb(14, 167, 14);
    }
    .fa-instagram:hover {
      color: rgb(139, 20, 95);
    }
    .fa-linkedin:hover {
      color: $colorSign;
    }
    .fa-github:hover {
      color: grey;
    }
  }
}
